.about-container {
    max-width: 1240px;
    padding: 0 20px;
    width: calc(100dvw - 40px);
    margin: 0 auto auto auto;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    max-width: 1023px;
    margin: 0 auto 40px auto ;
    padding: 0;
    gap: 30px;
}