.header {
    display: flex;
    max-width: 1480px;
    padding: 0 20px;
    margin: 30px auto;
    justify-content: space-between;
    flex-direction: row;

    .nav-menu {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 24px;
        align-items: center;
        display: flex;
        gap: 57px;

        .active {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            padding-bottom: 0;
        }
    }
}