body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Montserrat';
}

#root {
  min-height: 97vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}